In [0]:
%tensorflow_version 2.x
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
try:
  df = pd.read_csv("adults.csv",index_col=False, sep=", ",engine='python')
except:
  df = pd.read_csv("https://raw.githubusercontent.com/aliakbarbadri/mlp-classifier-adult-dataset/master/adults.csv", index_col=False, sep=", ",engine='python')

In [0]:
df.head

<bound method NDFrame.head of        age         workclass  fnlwgt  ... hours-per-week  native-country  salary
0       39         State-gov   77516  ...             40   United-States   <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38           Private  215646  ...             40   United-States   <=50K
3       53           Private  234721  ...             40   United-States   <=50K
4       28           Private  338409  ...             40            Cuba   <=50K
...    ...               ...     ...  ...            ...             ...     ...
48837   39           Private  215419  ...             36   United-States  <=50K.
48838   64                 ?  321403  ...             40   United-States  <=50K.
48839   38           Private  374983  ...             50   United-States  <=50K.
48840   44           Private   83891  ...             40   United-States  <=50K.
48841   35      Self-emp-inc  182148  ...             60   United-States   >50K.

[48842 rows x 15 columns]>

In [0]:
df.shape

(48842, 15)

In [0]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [0]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

# Preprocessing

### change salary to int

In [0]:
df.salary.unique()

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

In [0]:
df['salary'] = df['salary'].map({'<=50K':0, '>50K':1, '<=50K.':0, '>50K.':1}).astype(int)

### change sex to int

In [0]:
df.sex.unique()

array(['Male', 'Female'], dtype=object)

In [0]:
df['sex'] = df['sex'].map({'Male':1, 'Female':0}).astype(int)

### change ? to np.nan

In [0]:
def count_na(df,ch='?'):
    for i in df.columns:
        if len(df[df[i]==ch]) > 0:
            print(i)
            df[i] = df[i].replace(ch,np.nan)
    return 
count_na(df)

workclass
occupation
native-country

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

### drop rows with NaN value

In [0]:
df[pd.isnull(df).any(axis=1)].shape

(3620, 15)

In [0]:
df.shape

(48842, 15)

In [0]:
df.dropna(inplace=True)

In [0]:
df.shape

(45222, 15)