In [6]:
%tensorflow_version 2.x
import tensorflow as tf
from tensorflow import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

TensorFlow 2.x selected.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
df = pd.read_csv("/content/drive/My Drive/datasets/adults.csv")

In [8]:
df.head

                  age   workclass  ...  hours-per-week   native-country
39          State-gov       77516  ...   United-States            <=50K
50   Self-emp-not-inc       83311  ...   United-States            <=50K
38            Private      215646  ...   United-States            <=50K
53            Private      234721  ...   United-States            <=50K
28            Private      338409  ...            Cuba            <=50K

[5 rows x 14 columns]

In [9]:
df.shape

(48842, 14)